.project-cs-hero {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba($themeClrPrimary, 0.8),
      rgba($themeClrPrimary, 0.8)
    ),
    url(../../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;
  position: relative;

  @include respond(phone) {
    height: unset;
    min-height: unset;
  }

  &__content {
    padding: 25rem 0 17rem 0;
    max-width: 90rem;
    width: 92%;
    margin: auto;

    @include respond(phone) {
      padding: 19rem 0 13rem 0;
      margin: auto;
      position: static;
      transform: translate(0, 0);
    }
  }

  &__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }
  &__cta {
    margin-top: 5rem;
    text-align: center;
  }
}

.project-cs-hero.project-cs-hero--harlequest {
  background-image: url(../../assets/avif/harlequest.avif);
  background-size: cover;
  background-position: center;

  .project-cs-hero__content {
    padding: 20rem 0 14rem 0;

    @include respond(phone) {
      padding: 17rem 0 12rem 0;
    }
  }
}

.project-cs-hero.project-cs-hero--jtc {
  background-image: url(../../assets/jpeg/JTC.jpeg);
  background-size: cover;
  background-position: center;

  .project-cs-hero__content {
    padding: 20rem 0 14rem 0;
  }

  @include respond(phone) {
    .project-cs-hero__content {
      padding: 17rem 0 12rem 0;
    }
  }
}

.project-cs-hero.project-cs-hero--spoopy {
  background-image: url(../../assets/jpeg/banner-spoopy.jpeg);
  background-size: cover;
  background-position: center;

  .project-cs-hero__content {
    padding: 20rem 0 14rem 0;
  }

  @include respond(phone) {
    .project-cs-hero__content {
      padding: 17rem 0 12rem 0;
    }
  }
}

.project-cs-hero.project-cs-hero--dinomite {
  background-image: url(../../assets/png/Dinomite-Gameplay.png);
  background-size: cover;
  background-position: center;

  .project-cs-hero__content {
    padding: 20rem 0 14rem 0;
  }

  @include respond(phone) {
    .project-cs-hero__content {
      padding: 17rem 0 12rem 0;
    }
  }
}

.project-cs-hero.project-cs-hero--balls {
  background-image: url(../../assets/png/project_balls.png);
  background-size: cover;
  background-position: center;

  .project-cs-hero__content {
    padding: 20rem 0 14rem 0;
  }

  @include respond(phone) {
    .project-cs-hero__content {
      padding: 17rem 0 12rem 0;
    }
  }
}

.project-cs-hero.project-cs-hero--slides {
  background-image: url(../../assets/png/Slide.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0b0a10;
}

.project-cs-hero.project-cs-hero--webgl {
  background-color: #0b0a10;
  background-image: none;

  .home-hero__canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
  }
  .project-cs-hero__content {
    padding: 12.5rem 0 8.5rem 0;
  }

  @include respond(phone) {
    .project-cs-hero__content {
      padding: 9.5rem 0 6.5rem 0;
    }
  }
}

.project-details {
  &__content {
    padding: 8rem 0;
    max-width: 90rem;
    margin: auto;

    &-title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        font-size: 2.4rem;
      }
    }
  }

  &__showcase-img-cont {
    width: 100%;
    margin-bottom: 6rem;
  }

  &__showcase-img {
    width: 100%;
  }
  &__showcase-embed {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0;
    display: block;
  }
  &__showcase-embed--balls {
    aspect-ratio: 4 / 3;
  }
  &__gallery-embed {
    width: 100%;
    height: 46rem;
    border: 0;
    display: block;
    background: transparent;
  }
  @include respond(phone) {
    &__gallery-embed {
      height: 34rem;
    }
  }
  &__content-main {
    width: 100%;
    max-width: 70rem;
    margin: auto;
  }
  &__desc {
    margin: 0 0 7rem 0;

    &-para {
      font-size: 1.8rem;
      line-height: 1.7;
      color: grey;
      margin-bottom: 2rem;
    }
  }
  &__overview {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 2.8rem;
    align-items: start;

    @include respond(phone) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
  &__overview-icon {
    display: flex;
    justify-content: center;
  }
  &__overview-icon-img {
    width: 100%;
    max-width: 220px;
    border-radius: 1.4rem;
  }
  &__overview-heading {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  &__controls {
    margin-bottom: 4rem;
  }
  &__controls-list {
    margin: 0;
    padding-left: 2rem;
    font-size: 1.7rem;
    line-height: 1.7;
    color: grey;
  }
  &__controls-item {
    margin-bottom: 0.8rem;
  }
  &__gallery-note {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: grey;
  }
  &__tools-used {
    margin: 0 0 7rem 0;

    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;
      margin-right: 1.5rem;
      font-size: 1.6rem;
      background: rgba(#999, 0.2);
      border-radius: $commonBorderRadius;
      font-weight: 600;
      color: #777;
    }
  }
  &__links {
    margin: 0 0;
    &-btn {
      margin-right: 2rem;
      @include respond(phone) {
        margin-right: 0;
        width: 70%;
        margin-bottom: 2rem;
        text-align: center;
      }
      &:last-child {
        margin: 0;
        @include respond(phone) {
          margin: 0;
        }
      }
    }
  }
}
